// Import Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700&family=Inter:wght@300;400;500;600;700;800;900&display=swap");

// Font family
$font-family-inter: "Inter", sans-serif;

// Font sizes
$font-size-normal: 12px;
$font-size-navbar: 30px;
$font-size-card-title: 16px;

// Font weights
$font-weight-normal: 400;
$font-weight-card-title: 700;

// Colors
$yellow-green: #a1af2f;
$red: #ed8077;
$blue: #4487c5;
$green: #5eb5a6;

// Other variables...
$primary-color: #f0f0f0;
$secondary-color: #ffffff;
$border-color: #c1c1c1;
